.content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding: 7rem 14rem 0 14rem;
}

.announce{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

    color: var(--gray-100);

    p{
        font-size: 100%;
        font-size: 1.5rem;
        margin: 2.5rem 0;
    }

    h1{
        font-size: 4.5rem;
        line-height: 100%;
    }
    mark{
        color: var(--cyan-500);
        font-weight: 700;
        background-color: transparent;
    }
}